<h2>JSON Output</h2>
<table class="table">
    <thead>
        <th>№</th>
        <th>User</th>
        <th>Year</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let user of users$ | async; index as i">
            <tr [ngClass]="i === row ? 'selected' : null" (click)="setChangedRow(i)">
                <td>
                    {{ i + 1 }}
                </td>
                <td #name contenteditable (keydown.enter)="editName($event, i)">
                    {{ user.name }}
                </td>
                <td #year contenteditable (keydown.enter)="editYear($event, i)">
                    {{ user.year }}
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<div class="buttons">
    <div class="operation-buttons">
        <button routerLink="/edit" class="btn btn-danger" [disabled]="row === -1" [queryParams]="{'id': row }">Edit</button>
        <button class="btn btn-danger" [disabled]="row === -1" (click)="deleteEntity(row)">Delete</button>
        <button routerLink="/new" class="btn btn-success">+</button>
    </div>
    <div class="navigate-buttons">
        <button routerLink="/" class="btn btn-warning">Home</button>
        <button routerLink="/copy" class="btn btn-primary">Copy</button>
    </div>
</div>